
/*
styling the main div with some padding margin aand color
*/
#maindiv{
    background-color: azure;
    width: 500px;
    height: 400px;
    border: 2px solid orange;
    padding: 10px;
    margin: 10% 31% 10%;
}
/*
Styling the result div
*/
div #aft{
    color: brown;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
}